<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
        />
        <title>
            <%= htmlWebpackPlugin.options.title %>
        </title>
    </head>

    <body></body>
</html>